@import "../../styles/variables.scss";

.categories {
    border-bottom: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;

    &__item {
        text-transform: uppercase;
        padding: 1rem 1.75rem 1.75rem 1.75rem;
        line-height: 1.286em;
        letter-spacing: 0.08em;
        color: $primary-light;
        transition: all 0.2s ease;
        margin-bottom: -1px;
        font-size: 1.08rem;
        background: none;
        border: none;
        border-bottom: 0.14rem solid transparent;

        &.highlight {
            border-color: $primary-color;
        }

        &:hover {
            color: $primary-color;
        }
    }
}
